node-red/.flows.json.backup
[{"id":"33296a74.8c84e6","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"efa3e21f.00166","type":"tab","label":"Fuel","disabled":false,"info":""},{"id":"d3304b0a.cd4cb8","type":"tab","label":"DB","disabled":false,"info":""},{"id":"3f7ea865.a58118","type":"tab","label":"RainIntensity","disabled":false,"info":""},{"id":"8b60210c.f7e59","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3ca62473.22186c","type":"tab","label":"FlightTracker","disabled":false,"info":""},{"id":"267ef09f.431cd8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ef421432.2f8828","type":"tab","label":"Sungrow Inverter to MQTT","disabled":false,"info":""},{"id":"286c0b5b.c41264","type":"server","z":"","name":"Home Assistant"},{"id":"9c877518.ac2838","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f3e5fa4.9f675","type":"influxdb","z":"","hostname":"192.168.1.62","port":"8086","protocol":"http","database":"homeassistant","name":"HA","usetls":false,"tls":""},{"id":"41120164.bcfa8","type":"influxdb","z":"","hostname":"192.168.1.62","port":"8086","protocol":"http","database":"varken","name":"Varken","usetls":false,"tls":""},{"id":"65054f99.a1601","type":"mqtt-broker","z":"","name":"MQTT Server","broker":"192.168.1.63","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2fef117.4d3948","type":"mqtt-broker","z":"","name":"HASS MQTT","broker":"192.168.1.63","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cabc2a65.2a7468","type":"modbus-client","z":"","name":"SunGrow","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"192.168.1.85","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"4ee480eb.ef06f","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max Rain Last 365","query":"select time, max(\"max_value\") from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":100,"wires":[["87c1e848.7671d8"]]},{"id":"87c1e848.7671d8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":100,"wires":[["627a0576.239d9c"]]},{"id":"1869b2c4.d2918d","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMaxRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_maxrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.max, 2)","stateType":"jsonata","attributes":[{"property":"date","value":"date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1030,"y":100,"wires":[[]]},{"id":"627a0576.239d9c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"date","outputType":"msg","outTz":"Australia/Sydney","x":810,"y":100,"wires":[["1869b2c4.d2918d"]]},{"id":"5f38fb64.d46bf4","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMinTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_tempmin_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-down"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":440,"wires":[[]]},{"id":"6422bd86.dbfdc4","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Min Temp Last 365","query":"select time, min(\"min_temp\") as \"mintemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":400,"y":380,"wires":[["41240045.39621"]]},{"id":"41240045.39621","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":380,"wires":[["e9ec0b8b.057e78"]]},{"id":"e9ec0b8b.057e78","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":380,"wires":[["643b78ea.641f18"]]},{"id":"a120a324.04329","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":440,"wires":[["643b78ea.641f18"]]},{"id":"7c7b8478.a6824c","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":440,"wires":[["a120a324.04329"]]},{"id":"f0e0945b.86dac8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Max Temp Last 365","query":"select time, max(\"min_temp\") as \"maxtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":440,"wires":[["7c7b8478.a6824c"]]},{"id":"643b78ea.641f18","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":950,"y":440,"wires":[["5f38fb64.d46bf4"]]},{"id":"2b710378.3ce9ac","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":500,"wires":[["643b78ea.641f18"]]},{"id":"d136ec3b.a7eea","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Min/Avg Temp Last 365","query":"select time, mean(\"min_temp\") as \"avgtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":500,"wires":[["2b710378.3ce9ac"]]},{"id":"e663f7e9.a5b388","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMMaxTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_tempmax_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-up"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1150,"y":240,"wires":[[]]},{"id":"e9fe76cb.f514a8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Min Temp Last 365","query":"select time, min(\"max_temp\") as \"mintemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":180,"wires":[["ff9e7fe0.0853e"]]},{"id":"ff9e7fe0.0853e","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":180,"wires":[["2f947474.b9582c"]]},{"id":"2f947474.b9582c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":790,"y":180,"wires":[["b3120e03.61dc2"]]},{"id":"4e4fc53d.3cfd7c","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":790,"y":240,"wires":[["b3120e03.61dc2"]]},{"id":"b7a945ad.2ddee8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":240,"wires":[["4e4fc53d.3cfd7c"]]},{"id":"53165fa.aa01fa","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Max Temp Last 365","query":"select time, max(\"max_temp\") as \"maxtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":240,"wires":[["b7a945ad.2ddee8"]]},{"id":"b3120e03.61dc2","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":240,"wires":[["e663f7e9.a5b388"]]},{"id":"9f3bee52.92813","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":300,"wires":[["b3120e03.61dc2"]]},{"id":"7d6dbaa3.0b2bc4","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Max/Avg Temp Last 365","query":"select time, mean(\"max_temp\") as \"avgtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='bom_tamworth_air_temp_c' OR \"entity_id\"='bom_air_temp_c') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":300,"wires":[["9f3bee52.92813"]]},{"id":"48e2edd4.7a6364","type":"inject","z":"efa3e21f.00166","name":"5MinInt","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":40,"wires":[["8263edf2.e9cd6","445d331e.744f7c","8e95b5d2.2f2598","ccbeed91.10f9b","ee591866.0b8548","bc17475c.d8dd18"]]},{"id":"8263edf2.e9cd6","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Min Price 365","query":"select time, min(value) as min_value from (SELECT min(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":80,"wires":[["4f92ad14.088f34"]]},{"id":"445d331e.744f7c","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Max Price 365","query":"select time, max(value) as max_value from (SELECT max(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":140,"wires":[["29d9f645.03017a"]]},{"id":"4f92ad14.088f34","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":80,"wires":[["27833f49.a8c4d"]]},{"id":"29d9f645.03017a","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":140,"wires":[["7dd5081b.7fd918"]]},{"id":"8e95b5d2.2f2598","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"BPViaduct Avg Price 365","query":"select mean(value) as avg_value from (SELECT mean(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_bp_tamworth_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":200,"wires":[["fe3e52b2.e646f"]]},{"id":"fe3e52b2.e646f","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":200,"wires":[["24392b1.28cded4"]]},{"id":"7dd5081b.7fd918","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":140,"wires":[["24392b1.28cded4"]]},{"id":"27833f49.a8c4d","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":80,"wires":[["24392b1.28cded4"]]},{"id":"24392b1.28cded4","type":"join","z":"efa3e21f.00166","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":140,"wires":[["e133678a.067db8"]]},{"id":"e133678a.067db8","type":"ha-entity","z":"efa3e21f.00166","name":"BPViaductStats365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"fuel_bpviaduct_stats365"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:fuel"},{"property":"unit_of_measurement","value":"¢/L"}],"state":"$round(msg.payload.avg_value, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.max_value, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.min_value, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avg_value, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1110,"y":140,"wires":[[]]},{"id":"ccbeed91.10f9b","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Min Price 365","query":"select time, min(value) as min_value from (SELECT min(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":260,"wires":[["e0aa9b84.ba53d8"]]},{"id":"ee591866.0b8548","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Max Price 365","query":"select time, max(value) as max_value from (SELECT max(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":320,"wires":[["f2f7aff8.155f"]]},{"id":"e0aa9b84.ba53d8","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":260,"wires":[["9876af3f.c27b9"]]},{"id":"f2f7aff8.155f","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":320,"wires":[["b8f9d78.8e05728"]]},{"id":"bc17475c.d8dd18","type":"influxdb in","z":"efa3e21f.00166","influxdb":"2f3e5fa4.9f675","name":"CaltexWhite Avg Price 365","query":"select mean(value) as avg_value from (SELECT mean(\"value\") AS \"value\" FROM \"homeassistant\".\"autogen\".\"¢/L\" WHERE time > now() - 365d AND \"entity_id\"='fuelcheck_caltex_tamworth_orana_p98' GROUP BY time(1d) FILL(null) TZ('Australia/Sydney')) ","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":380,"wires":[["c544886.5cbaa78"]]},{"id":"c544886.5cbaa78","type":"split","z":"efa3e21f.00166","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":380,"wires":[["3261f943.fea3a6"]]},{"id":"b8f9d78.8e05728","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":320,"wires":[["3261f943.fea3a6"]]},{"id":"9876af3f.c27b9","type":"moment","z":"efa3e21f.00166","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":260,"wires":[["3261f943.fea3a6"]]},{"id":"3261f943.fea3a6","type":"join","z":"efa3e21f.00166","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":320,"wires":[["1423d97d.559027"]]},{"id":"1423d97d.559027","type":"ha-entity","z":"efa3e21f.00166","name":"CaltexWhiteStats365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"fuel_caltexwhite_stats365"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:fuel"},{"property":"unit_of_measurement","value":"¢/L"}],"state":"$round(msg.payload.avg_value, 2)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.max_value, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.min_value, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avg_value, 2)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1120,"y":320,"wires":[[]]},{"id":"4fe9df8b.c6fa8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Total Rain Last 365","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 365d AND (\"entity_id\"='netatmo_rain_sum_rain_24' OR \"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":580,"wires":[["57f67d3.1b3c584"]]},{"id":"a38693a7.6e5c6","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeTotalRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_totalrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"},{"property":"sort","value":"4","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":830,"y":580,"wires":[[]]},{"id":"57f67d3.1b3c584","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":580,"wires":[["a38693a7.6e5c6"]]},{"id":"7e96543.199b2ac","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Max Rain Last 365","query":"select time, max(\"max_value\") from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_rain_sum_rain_24' OR \"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":640,"wires":[["317bc668.aa0faa"]]},{"id":"317bc668.aa0faa","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":640,"wires":[["515d47c9.93aba8"]]},{"id":"84545f66.0979a","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeMaxRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_maxrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.max, 2)","stateType":"jsonata","attributes":[{"property":"date","value":"date","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":990,"y":640,"wires":[[]]},{"id":"515d47c9.93aba8","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"date","outputType":"msg","outTz":"Australia/Sydney","x":770,"y":640,"wires":[["84545f66.0979a"]]},{"id":"bb0c36dc.4f7d88","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeMinTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_tempmin_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-down"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1090,"y":980,"wires":[[]]},{"id":"29b0ca9f.9492e6","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Min/Min Temp Last 365","query":"select time, min(\"min_temp\") as \"mintemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":920,"wires":[["5c098a97.96ce64"]]},{"id":"5c098a97.96ce64","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":920,"wires":[["d036714b.4de0a"]]},{"id":"d036714b.4de0a","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":730,"y":920,"wires":[["9fbca5c.f857b58"]]},{"id":"9fe06e28.1fc73","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":730,"y":980,"wires":[["9fbca5c.f857b58"]]},{"id":"d986852c.c7f488","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":980,"wires":[["9fe06e28.1fc73"]]},{"id":"fe7c7570.36fe78","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Min/Max Temp Last 365","query":"select time, max(\"min_temp\") as \"maxtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":980,"wires":[["d986852c.c7f488"]]},{"id":"9fbca5c.f857b58","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":910,"y":980,"wires":[["bb0c36dc.4f7d88"]]},{"id":"cfccd270.c6606","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":1040,"wires":[["9fbca5c.f857b58"]]},{"id":"57a8df23.e79f6","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Min/Avg Temp Last 365","query":"select time, mean(\"min_temp\") as \"avgtemp\" from (SELECT min(\"value\") AS \"min_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":1040,"wires":[["cfccd270.c6606"]]},{"id":"1777533.24f10ad","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeMaxTemp365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_tempmax_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:thermometer-chevron-up"},{"property":"unit_of_measurement","value":"°C"}],"state":"$round(msg.payload.avgtemp, 3)","stateType":"jsonata","attributes":[{"property":"max","value":"$round(msg.payload.maxtemp, 2)","valueType":"jsonata"},{"property":"min","value":"$round(msg.payload.mintemp, 2)","valueType":"jsonata"},{"property":"avg","value":"$round(msg.payload.avgtemp, 3)","valueType":"jsonata"},{"property":"mindate","value":"payload.mindate","valueType":"msg"},{"property":"maxdate","value":"payload.maxdate","valueType":"msg"},{"property":"datestring","value":"\"Min: \" & $string(msg.payload.mindate) & \" - Max: \" & $string(msg.payload.maxdate)","valueType":"jsonata"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1110,"y":780,"wires":[[]]},{"id":"5ae7a019.155b2","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Max/Min Temp Last 365","query":"select time, min(\"max_temp\") as \"mintemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":720,"wires":[["2271e4f4.9fc61c"]]},{"id":"2271e4f4.9fc61c","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":720,"wires":[["d13b5353.891ca"]]},{"id":"d13b5353.891ca","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.mindate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":720,"wires":[["4489a908.3ae738"]]},{"id":"169f1fcc.9504d","type":"moment","z":"33296a74.8c84e6","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"C","output":"payload.maxdate","outputType":"msg","outTz":"Australia/Sydney","x":750,"y":780,"wires":[["4489a908.3ae738"]]},{"id":"7425e567.8f6e6c","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":780,"wires":[["169f1fcc.9504d"]]},{"id":"b31397a3.9fa4f8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Max/Max Temp Last 365","query":"select time, max(\"max_temp\") as \"maxtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":780,"wires":[["7425e567.8f6e6c"]]},{"id":"4489a908.3ae738","type":"join","z":"33296a74.8c84e6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":930,"y":780,"wires":[["1777533.24f10ad"]]},{"id":"c3e2ca69.2d3b58","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":840,"wires":[["4489a908.3ae738"]]},{"id":"ba5d747a.b24ba8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Max/Avg Temp Last 365","query":"select time, mean(\"max_temp\") as \"avgtemp\" from (SELECT max(\"value\") AS \"max_temp\" FROM \"homeassistant\".\"autogen\".\"°C\" WHERE time > now() - 365d AND (\"entity_id\"='netatmo_brisbane_street_outdoor_temperature' OR \"entity_id\"='netatmo_outdoor_temperature') GROUP BY time(1d) FILL(null)  tz('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":840,"wires":[["c3e2ca69.2d3b58"]]},{"id":"cd416e62.0709e","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMTotalRain365","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_totalrain_lastyr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$round(msg.payload.sum, 2)","stateType":"jsonata","attributes":[{"property":"count","value":"$round(msg.payload.count,0)","valueType":"jsonata"},{"property":"countstring","value":"$round(msg.payload.count,0) & \" Days\"","valueType":"jsonata"},{"property":"average","value":"$round(msg.payload.average,2)","valueType":"jsonata"},{"property":"highest","value":"$round(msg.payload.highest,2)","valueType":"jsonata"},{"property":"sort","value":"4","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":40,"wires":[[]]},{"id":"6990101e.7a3e2","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":40,"wires":[["cd416e62.0709e"]]},{"id":"aa38b4cd.fd71e8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Total Rain Last 365","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 365d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":40,"wires":[["6990101e.7a3e2"]]},{"id":"33e5e0d0.4cae8","type":"inject","z":"33296a74.8c84e6","name":"1MinInt","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":300,"wires":[["aa38b4cd.fd71e8","4ee480eb.ef06f","6422bd86.dbfdc4","f0e0945b.86dac8","d136ec3b.a7eea","e9fe76cb.f514a8","53165fa.aa01fa","7d6dbaa3.0b2bc4","4fe9df8b.c6fa8","7e96543.199b2ac","5ae7a019.155b2","b31397a3.9fa4f8","ba5d747a.b24ba8","29b0ca9f.9492e6","fe7c7570.36fe78","57a8df23.e79f6","1e1dd8af.82b337","56586520.f6d2fc","9b52ea42.6cefd8","4ed95ea0.f7c87","201dcf4a.fa894","5a7dc5f2.7e022c"]]},{"id":"b9e7f122.e4b43","type":"inject","z":"d3304b0a.cd4cb8","name":"1MinInt","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":60,"wires":[["36fc1ab9.202f86","826ad439.87a7d8","74029b17.27fa94","4530c786.08ed58","5b6d876a.2acdd8","fe1de207.ee01","ba378e36.b933c","16e286ef.a97209"]]},{"id":"36fc1ab9.202f86","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='homeassistant' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":60,"wires":[["9f93f221.71288"]]},{"id":"9f93f221.71288","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":60,"wires":[["eb1efc91.55f2b"]]},{"id":"eb1efc91.55f2b","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"InfluxDB Size","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_size"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":850,"y":60,"wires":[[]]},{"id":"1e1dd8af.82b337","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Rain This Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 7d /* and time < now() - 1w-1d */ AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1100,"wires":[["225a0f2f.c4185"]]},{"id":"914dd541.42f928","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1100,"wires":[["d04bb90d.434ff8"]]},{"id":"d04bb90d.434ff8","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeRainLast7Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_last7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"1","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1100,"wires":[[]]},{"id":"56586520.f6d2fc","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Rain This Month","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 30d /* and time < now() - 1w-1d */ AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1180,"wires":[["63172cf1.8e2b94"]]},{"id":"336913f7.87a4bc","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1180,"wires":[["87eb65c6.2c5798"]]},{"id":"87eb65c6.2c5798","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeRainLast30Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_last30days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"3","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1180,"wires":[[]]},{"id":"9b52ea42.6cefd8","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Rain This Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 7d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1280,"wires":[["82716353.37547"]]},{"id":"d0b8580b.27d4a8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1280,"wires":[["ce42590b.835aa8"]]},{"id":"ce42590b.835aa8","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMRainLast7Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_rain_last7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":880,"y":1280,"wires":[[]]},{"id":"4ed95ea0.f7c87","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Rain This Month","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 30d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1320,"wires":[["78bc0de3.c5e194"]]},{"id":"6920f0d.0bffe1","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1320,"wires":[["7ed58e6d.bf223"]]},{"id":"7ed58e6d.bf223","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMRainLast30Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_rain_last30days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"3","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1320,"wires":[[]]},{"id":"98856537.cb6888","type":"ha-entity","z":"33296a74.8c84e6","name":"HomeRainPrior7Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_home_rain_prior7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"2","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1140,"wires":[[]]},{"id":"1d95bb7c.653015","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1140,"wires":[["98856537.cb6888"]]},{"id":"201dcf4a.fa894","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"Home Rain Last Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\"  WHERE \"value\" <> 0 and time > now() - 14d and time < now() - 7d AND (\"entity_id\"='netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1d) FILL(null) TZ('Australia/Sydney'))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1140,"wires":[["33d177bd.05fc28"]]},{"id":"3f71bab3.01bcb6","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 60) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":160,"wires":[["d8d37be5.104088"]]},{"id":"15d65e08.6205c2","type":"inject","z":"3f7ea865.a58118","name":"5MinInt","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["3f71bab3.01bcb6","e352d214.34ae8","fb7c2363.f8a25","b5ba232a.495f3","e19ad8b6.5a06f8","7ef931a.0c357d","f35e6cbc.d2705","5c976ae5.c06974","3c2e321c.7f7ebe","79a8b0b9.c3eb2","1dee4c0f.58db34","7977aaaa.3e7ea4"]]},{"id":"d8d37be5.104088","type":"function","z":"3f7ea865.a58118","name":"1 Hour AEP","func":"\nvar _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 8.87;\nvar _ey6 = 10.2;\nvar _ey4 = 12.5;\nvar _ey3 = 14.3;\nvar _ey2 = 16.8;\nvar _ey1 = 21.5;\nvar _ey050 = 26.8;\nvar _ey020 = 33.3;\n\nvar _aep10 = 38.8;\nvar _aep5 = 45.0;\nvar _aep2 = 53.5;\nvar _aep1 = 60.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;  \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["318dddf9.dfaf72"]]},{"id":"318dddf9.dfaf72","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":160,"wires":[["5b88f61a.983c98"]]},{"id":"e352d214.34ae8","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 20) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":220,"wires":[["e10b4c67.c74a6"]]},{"id":"e10b4c67.c74a6","type":"function","z":"3f7ea865.a58118","name":"20 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 16.7;\nvar _ey6 = 19.4;\nvar _ey4 = 24.4;\nvar _ey3 = 28.0;\nvar _ey2 = 33.3;\nvar _ey1 = 42.8;\nvar _ey050 = 53.6;\nvar _ey020 = 67.4;\n\nvar _aep10 = 78.4;\nvar _aep5 = 90.7;\nvar _aep2 = 107;\nvar _aep1 = 121;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["ab8d4553.fe2718"]]},{"id":"ab8d4553.fe2718","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":220,"wires":[["75db3ffb.b5886"]]},{"id":"fb7c2363.f8a25","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 10) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":340,"wires":[["1c25c29a.8cf40d"]]},{"id":"1c25c29a.8cf40d","type":"function","z":"3f7ea865.a58118","name":"10 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 23.4;\nvar _ey6 = 27.4;\nvar _ey4 = 34.5;\nvar _ey3 = 39.7;\nvar _ey2 = 47.1;\nvar _ey1 = 60.1;\nvar _ey050 = 75.4;\nvar _ey020 = 94.5;\n\nvar _aep632 = 60.1;\nvar _aep50 = 67.9;\nvar _aep20 = 92.7;\nvar _aep10 = 110;\nvar _aep5 = 127;\nvar _aep2 = 150;\nvar _aep1 = 168;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n}\nif (msg.payload[0].max>_aep632){ \n    _AEP = (63.2);  \n}\nif (msg.payload[0].max>_aep50){ \n    _AEP = (50);  \n}\nif (msg.payload[0].max>_aep20){ \n    _AEP = (20);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["3d607db5.367f42"]]},{"id":"3d607db5.367f42","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":340,"wires":[["cf5c6ad2.b317c8"]]},{"id":"b5ba232a.495f3","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 120) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":100,"wires":[["cf740a8f.8cac98"]]},{"id":"cf740a8f.8cac98","type":"function","z":"3f7ea865.a58118","name":"2 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 5.75;\nvar _ey6 = 6.56;\nvar _ey4 = 7.96;\nvar _ey3 = 9.01;\nvar _ey2 = 10.5;\nvar _ey1 = 13.3;\nvar _ey050 = 16.5;\nvar _ey020 = 20.3;\n\nvar _aep10 = 23.6;\nvar _aep5 = 27.3;\nvar _aep2 = 31.3;\nvar _aep1 = 36.3;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["980535c5.fe3d28"]]},{"id":"980535c5.fe3d28","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":100,"wires":[["d3c63c20.c3761"]]},{"id":"5b88f61a.983c98","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":160,"wires":[["2539ad6.6fcb652"]]},{"id":"d3c63c20.c3761","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":100,"wires":[["2aebf71d.dc0db8"]]},{"id":"75db3ffb.b5886","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":220,"wires":[["7a909ca4.d739c4"]]},{"id":"cf5c6ad2.b317c8","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":340,"wires":[["2fb780af.b9bdc"]]},{"id":"e19ad8b6.5a06f8","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 360) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":40,"wires":[["b14cdb3f.63af28"]]},{"id":"b14cdb3f.63af28","type":"function","z":"3f7ea865.a58118","name":"6 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 2.77;\nvar _ey6 = 3.15;\nvar _ey4 = 3.81;\nvar _ey3 = 4.29;\nvar _ey2 = 4.99;\nvar _ey1 = 6.23;\nvar _ey050 = 7.7;\nvar _ey020 = 9.3;\n\nvar _aep10 = 10.7;\nvar _aep5 = 12.3;\nvar _aep2 = 14.4;\nvar _aep1 = 16.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n    _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["be8e6ddc.f1fdb"]]},{"id":"be8e6ddc.f1fdb","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":40,"wires":[["e6698fd3.70146"]]},{"id":"e6698fd3.70146","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":40,"wires":[["42015636.8b2f88"]]},{"id":"42015636.8b2f88","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_6hour_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_6hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"1","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":40,"wires":[[]]},{"id":"2aebf71d.dc0db8","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_2hour_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_2hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"2","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":100,"wires":[[]]},{"id":"2539ad6.6fcb652","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_1hour_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_1hour_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"3","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":160,"wires":[[]]},{"id":"7a909ca4.d739c4","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_20Min_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_20Min_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"4","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1180,"y":220,"wires":[[]]},{"id":"2fb780af.b9bdc","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_10Min_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_10Min_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"5","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1180,"y":340,"wires":[[]]},{"id":"7ef931a.0c357d","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 360) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":740,"wires":[["2eac77d7.4cc3f8"]]},{"id":"2eac77d7.4cc3f8","type":"function","z":"3f7ea865.a58118","name":"6 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 2.77;\nvar _ey6 = 3.15;\nvar _ey4 = 3.81;\nvar _ey3 = 4.29;\nvar _ey2 = 4.99;\nvar _ey1 = 6.23;\nvar _ey050 = 7.7;\nvar _ey020 = 9.3;\n\nvar _aep10 = 10.7;\nvar _aep5 = 12.3;\nvar _aep2 = 14.4;\nvar _aep1 = 16.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n    _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n    _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n    _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["c22c66ba.828458"]]},{"id":"c22c66ba.828458","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":740,"wires":[["6ada584d.75ee28"]]},{"id":"6ada584d.75ee28","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":740,"wires":[["90b87871.0b6d48"]]},{"id":"90b87871.0b6d48","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_6hour_Yearly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_6hour_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"},{"property":"sort","value":"1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":740,"wires":[[]]},{"id":"f35e6cbc.d2705","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 20) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":860,"wires":[["41574614.85a208"]]},{"id":"41574614.85a208","type":"function","z":"3f7ea865.a58118","name":"20 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 16.7;\nvar _ey6 = 19.4;\nvar _ey4 = 24.4;\nvar _ey3 = 28.0;\nvar _ey2 = 33.3;\nvar _ey1 = 42.8;\nvar _ey050 = 53.6;\nvar _ey020 = 67.4;\n\nvar _aep10 = 78.4;\nvar _aep5 = 90.7;\nvar _aep2 = 107;\nvar _aep1 = 121;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":860,"wires":[["94372e4c.e884b"]]},{"id":"94372e4c.e884b","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":860,"wires":[["afdcf4f5.ca0f78"]]},{"id":"afdcf4f5.ca0f78","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":860,"wires":[["c121ebf5.d33738"]]},{"id":"c121ebf5.d33738","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_20Min_Yearly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_20Min_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"},{"property":"sort","value":"4","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":860,"wires":[[]]},{"id":"30680b2e.eac954","type":"inject","z":"8b60210c.f7e59","name":"1MinInt","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":60,"wires":[["f8d193c9.801e5","c28332f1.9ab36","901836fb.3952b8","ade86a04.5888b8","424e4c86.23cd34"]]},{"id":"f8d193c9.801e5","type":"influxdb in","z":"8b60210c.f7e59","influxdb":"41120164.bcfa8","name":"MoviesCount","query":"SELECT time, last(\"total\") as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE time >= now() - 3630s AND \"section_name\"='Movies' AND \"type\"='library_stats'","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":60,"wires":[["a0a800d0.8350a"]]},{"id":"a0a800d0.8350a","type":"split","z":"8b60210c.f7e59","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":60,"wires":[["b7d5b7df.a03be8"]]},{"id":"b7d5b7df.a03be8","type":"ha-entity","z":"8b60210c.f7e59","name":"PlexStats_MovieCount","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_MovieCount"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:filmstrip"},{"property":"unit_of_measurement","value":"Movies"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":860,"y":60,"wires":[[]]},{"id":"c28332f1.9ab36","type":"influxdb in","z":"8b60210c.f7e59","influxdb":"41120164.bcfa8","name":"TVShowCount","query":"SELECT time, last(\"total\") as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE time >= now() - 3630s AND \"section_name\"='TV Shows' AND \"type\"='library_stats'","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":300,"wires":[["5b1c4462.e98d6c"]]},{"id":"5b1c4462.e98d6c","type":"split","z":"8b60210c.f7e59","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":300,"wires":[["79d26fc1.20d8a"]]},{"id":"79d26fc1.20d8a","type":"ha-entity","z":"8b60210c.f7e59","name":"PlexStats_TVShowCount","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_TVShowCount"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:television-play"},{"property":"unit_of_measurement","value":"TV Shows"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":300,"wires":[[]]},{"id":"901836fb.3952b8","type":"influxdb in","z":"8b60210c.f7e59","influxdb":"41120164.bcfa8","name":"TVSeasonsCount","query":"SELECT time, last(\"seasons\") as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE time >= now() - 3630s AND \"section_name\"='TV Shows' AND \"type\"='library_stats'","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":340,"wires":[["aa903e81.2d1e4"]]},{"id":"aa903e81.2d1e4","type":"split","z":"8b60210c.f7e59","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":340,"wires":[["d065f5d6.0b5b88"]]},{"id":"d065f5d6.0b5b88","type":"ha-entity","z":"8b60210c.f7e59","name":"PlexStats_TVSeasonsCount","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_TVSeasonCount"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:television-play"},{"property":"unit_of_measurement","value":"Seasons"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":340,"wires":[[]]},{"id":"ade86a04.5888b8","type":"influxdb in","z":"8b60210c.f7e59","influxdb":"41120164.bcfa8","name":"TVEpisodesCount","query":"SELECT time, last(\"episodes\") as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE time >= now() - 3630s AND \"section_name\"='TV Shows' AND \"type\"='library_stats'","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":380,"wires":[["eb3774d9.5c3868"]]},{"id":"eb3774d9.5c3868","type":"split","z":"8b60210c.f7e59","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":380,"wires":[["7fd7fe72.91aff"]]},{"id":"7fd7fe72.91aff","type":"ha-entity","z":"8b60210c.f7e59","name":"PlexStats_TVEpisodesCount","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_TVEpisodeCount"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:television-play"},{"property":"unit_of_measurement","value":"Episodes"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":380,"wires":[[]]},{"id":"5c976ae5.c06974","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 5) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 7d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":280,"wires":[["e9bf315d.4b74f"]]},{"id":"e9bf315d.4b74f","type":"function","z":"3f7ea865.a58118","name":"5 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 30.7;\nvar _ey6 = 35.9;\nvar _ey4 = 44.9;\nvar _ey3 = 51.4;\nvar _ey2 = 60.5;\nvar _ey1 = 76.3;\nvar _ey050 = 95.3;\nvar _ey020 = 119;\n\n\nvar _aep10 = 138;\nvar _aep5 = 160;\nvar _aep2 = 189;\nvar _aep1 = 212;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["d049b8ca.f329f8"]]},{"id":"d049b8ca.f329f8","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":280,"wires":[["eadd57a6.6ca898"]]},{"id":"eadd57a6.6ca898","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":930,"y":280,"wires":[["54b7e4dc.f1759c"]]},{"id":"54b7e4dc.f1759c","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_5Min_Weekly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_5Min_Weekly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"6","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1170,"y":280,"wires":[[]]},{"id":"79a8b0b9.c3eb2","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 60) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":680,"wires":[["c910c630.6ee848"]]},{"id":"c910c630.6ee848","type":"function","z":"3f7ea865.a58118","name":"1 Hour AEP","func":"\nvar _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 8.87;\nvar _ey6 = 10.2;\nvar _ey4 = 12.5;\nvar _ey3 = 14.3;\nvar _ey2 = 16.8;\nvar _ey1 = 21.5;\nvar _ey050 = 26.8;\nvar _ey020 = 33.3;\n\nvar _aep10 = 38.8;\nvar _aep5 = 45.0;\nvar _aep2 = 53.5;\nvar _aep1 = 60.1;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;  \nreturn msg;","outputs":1,"noerr":0,"x":450,"y":680,"wires":[["f8e33a90.bd45a8"]]},{"id":"f8e33a90.bd45a8","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":680,"wires":[["4ad5da42.3c49b4"]]},{"id":"3c2e321c.7f7ebe","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 120) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":620,"wires":[["c7cf9606.3e2a28"]]},{"id":"c7cf9606.3e2a28","type":"function","z":"3f7ea865.a58118","name":"2 Hour AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 5.75;\nvar _ey6 = 6.56;\nvar _ey4 = 7.96;\nvar _ey3 = 9.01;\nvar _ey2 = 10.5;\nvar _ey1 = 13.3;\nvar _ey050 = 16.5;\nvar _ey020 = 20.3;\n\nvar _aep10 = 23.6;\nvar _aep5 = 27.3;\nvar _aep2 = 31.3;\nvar _aep1 = 36.3;\n\n\nif (msg.payload[0].max>_ey12){ \n    var _EY = (12);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey6){ \n    var _EY = (6);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey4){ \n    var _EY = (4);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey3){ \n    var _EY = (3);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey2){ \n    var _EY = (2);\n    var _AEP = (0);  \n}  \nif (msg.payload[0].max>_ey1){ \n    var _EY = (1);\n    var _AEP = (0);  \n}   \nif (msg.payload[0].max>_ey050){ \n    var _EY = (0.5);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_ey020){ \n    var _EY = (0.2);\n    var _AEP = (0);  \n}\nif (msg.payload[0].max>_aep10){ \n    var _AEP = (10);  \n}\n\nif (msg.payload[0].max>_aep5){ \n    var _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    var _AEP = (2);  \n}\n\nif (msg.payload[0].max>_aep1){ \n    var _AEP = (1);  \n}\n\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["add9f6ac.c284e8"]]},{"id":"add9f6ac.c284e8","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":620,"wires":[["8fac1ad1.b0df38"]]},{"id":"4ad5da42.3c49b4","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":680,"wires":[["5983e2f0.458c0c"]]},{"id":"8fac1ad1.b0df38","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":620,"wires":[["a1e068c9.91b518"]]},{"id":"a1e068c9.91b518","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_2hour_Yearly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_2hour_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"},{"property":"sort","value":"2","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":620,"wires":[[]]},{"id":"5983e2f0.458c0c","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_1hour_Yearly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_1hour_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.date","valueType":"msg"},{"property":"sort","value":"3","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":680,"wires":[[]]},{"id":"f569d297.e68f4","type":"ha-entity","z":"33296a74.8c84e6","name":"BOMRainPrior7Days","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"weather_bom_rain_prior7days"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm"}],"state":"$exists(msg.payload.sum) ? $round(msg.payload.sum, 2) : 0","stateType":"jsonata","attributes":[{"property":"count","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 2) : 0","valueType":"jsonata"},{"property":"countstring","value":"$exists(msg.payload.count) ? $round(msg.payload.count, 0) & \" Days\" : \"No Rain\"","valueType":"jsonata"},{"property":"average","value":"$exists(msg.payload.average) ? $round(msg.payload.average, 2) : 0","valueType":"jsonata"},{"property":"highest","value":"$exists(msg.payload.highest) ? $round(msg.payload.highest, 2) : 0","valueType":"jsonata"},{"property":"sort","value":"2","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":880,"y":1360,"wires":[[]]},{"id":"57f879c7.e0a5e8","type":"split","z":"33296a74.8c84e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":1360,"wires":[["f569d297.e68f4"]]},{"id":"5a7dc5f2.7e022c","type":"influxdb in","z":"33296a74.8c84e6","influxdb":"2f3e5fa4.9f675","name":"BOM Rain Last Week","query":"select sum(\"max_value\") as sum, count(\"max_value\") as count, sum(\"max_value\")/count(\"max_value\") as average, max(\"max_value\") as highest from (SELECT max(\"value\") AS \"max_value\" FROM \"homeassistant\".\"autogen\".\"mm\" WHERE \"value\" <> 0 and time > now() - 14d and time < now() - 7d AND (\"entity_id\"='bom_rain_today' OR \"entity_id\"='bom_tamworth_rain_today') GROUP BY time(1d) FILL(null))","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":1360,"wires":[["f8a48c04.da9b"]]},{"id":"63172cf1.8e2b94","type":"function","z":"33296a74.8c84e6","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1180,"wires":[["336913f7.87a4bc"]]},{"id":"33d177bd.05fc28","type":"function","z":"33296a74.8c84e6","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1140,"wires":[["1d95bb7c.653015"]]},{"id":"225a0f2f.c4185","type":"function","z":"33296a74.8c84e6","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1100,"wires":[["914dd541.42f928"]]},{"id":"82716353.37547","type":"function","z":"33296a74.8c84e6","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1280,"wires":[["d0b8580b.27d4a8"]]},{"id":"78bc0de3.c5e194","type":"function","z":"33296a74.8c84e6","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1320,"wires":[["6920f0d.0bffe1"]]},{"id":"f8a48c04.da9b","type":"function","z":"33296a74.8c84e6","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload = {\n        sum: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1360,"wires":[["57f879c7.e0a5e8"]]},{"id":"7977aaaa.3e7ea4","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 7 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 10) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":240,"y":980,"wires":[["154e5ca0.6922d3"]]},{"id":"154e5ca0.6922d3","type":"function","z":"3f7ea865.a58118","name":"10 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 23.4;\nvar _ey6 = 27.4;\nvar _ey4 = 34.5;\nvar _ey3 = 39.7;\nvar _ey2 = 47.1;\nvar _ey1 = 60.1;\nvar _ey050 = 75.4;\nvar _ey020 = 94.5;\n\nvar _aep632 = 60.1;\nvar _aep50 = 67.9;\nvar _aep20 = 92.7;\nvar _aep10 = 110;\nvar _aep5 = 127;\nvar _aep2 = 150;\nvar _aep1 = 168;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n}\nif (msg.payload[0].max>_aep632){ \n    _AEP = (63.2);  \n}\nif (msg.payload[0].max>_aep50){ \n    _AEP = (50);  \n}\nif (msg.payload[0].max>_aep20){ \n    _AEP = (20);  \n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":980,"wires":[["8441c3d1.6bc63"]]},{"id":"8441c3d1.6bc63","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":980,"wires":[["c75e6eac.dc141"]]},{"id":"c75e6eac.dc141","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":980,"wires":[["dd8b4b3d.4c04a8"]]},{"id":"dd8b4b3d.4c04a8","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_10Min_Yearly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_10Min_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"5","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":980,"wires":[[]]},{"id":"1dee4c0f.58db34","type":"influxdb in","z":"3f7ea865.a58118","influxdb":"2f3e5fa4.9f675","name":"Max intensity 365 days","query":"select max(\"intensity\") from(SELECT moving_average(\"deriv\", 5) as intensity FROM( SELECT non_negative_derivative(mean(\"value\"), 1h) as deriv FROM \"homeassistant\".\"autogen\".\"mm\" WHERE time > now() - 365d AND (\"entity_id\" = 'netatmo_brisbane_street_rain_sum_rain_24') GROUP BY time(1m)  fill(linear) ) fill(null)) ","rawOutput":false,"precision":"","retentionPolicy":"","x":250,"y":920,"wires":[["cf938c20.1e42a"]]},{"id":"cf938c20.1e42a","type":"function","z":"3f7ea865.a58118","name":"5 Min AEP","func":"var _EY=0;\nvar _AEP=0;\n\nvar _ey12 = 30.7;\nvar _ey6 = 35.9;\nvar _ey4 = 44.9;\nvar _ey3 = 51.4;\nvar _ey2 = 60.5;\nvar _ey1 = 76.3;\nvar _ey050 = 95.3;\nvar _ey020 = 119;\n\n\nvar _aep10 = 138;\nvar _aep5 = 160;\nvar _aep2 = 189;\nvar _aep1 = 212;\n\n\nif (msg.payload[0].max>_ey12){ \n    _EY = (12);\n}\nif (msg.payload[0].max>_ey6){ \n    _EY = (6);\n}\nif (msg.payload[0].max>_ey4){ \n    _EY = (4);\n}\nif (msg.payload[0].max>_ey3){ \n    _EY = (3);\n}  \nif (msg.payload[0].max>_ey2){ \n    _EY = (2);\n}  \nif (msg.payload[0].max>_ey1){ \n    _EY = (1);\n}   \nif (msg.payload[0].max>_ey050){ \n    _EY = (0.5);\n}\nif (msg.payload[0].max>_ey020){ \n    _EY = (0.2);\n}\nif (msg.payload[0].max>_aep10){ \n    _AEP = (10);  \n}\nif (msg.payload[0].max>_aep5){ \n    _AEP = (5);  \n}\nif (msg.payload[0].max>_aep2){ \n    _AEP = (2);  \n}\nif (msg.payload[0].max>_aep1){ \n    _AEP = (1);  \n}\nmsg.payload[0].EY = _EY;\nmsg.payload[0].AEP = _AEP;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["e500906f.15725"]]},{"id":"e500906f.15725","type":"split","z":"3f7ea865.a58118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":920,"wires":[["a360c914.441f58"]]},{"id":"a360c914.441f58","type":"moment","z":"3f7ea865.a58118","name":"FormatDate","topic":"","input":"payload.time","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:MM DD MMM YYYY","locale":"C","output":"payload.date","outputType":"msg","outTz":"Australia/Sydney","x":890,"y":920,"wires":[["ea8ec359.f2e3b"]]},{"id":"ea8ec359.f2e3b","type":"ha-entity","z":"3f7ea865.a58118","name":"AEP_5Min_Yearly","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"AEP_5Min_Yearly"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:water"},{"property":"unit_of_measurement","value":"mm/hr"}],"state":"$round(msg.payload.max, 1)","stateType":"jsonata","attributes":[{"property":"AEP","value":"$round(msg.payload.AEP, 1)","valueType":"jsonata"},{"property":"EY","value":"$round(msg.payload.EY, 1)","valueType":"jsonata"},{"property":"Time","value":"payload.max = 0 ? \"No Rain\" : payload.date","valueType":"jsonata"},{"property":"sort","value":"6","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1130,"y":920,"wires":[[]]},{"id":"e0bb5511.00aab8","type":"inject","z":"d3304b0a.cd4cb8","name":"HASS Connected?","topic":"","payload":"homeassistant.homeAssistant.isConnected","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":960,"wires":[["e2b828ce.2a2918"]]},{"id":"e2b828ce.2a2918","type":"rbe","z":"d3304b0a.cd4cb8","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":450,"y":960,"wires":[["d6be43a9.a3c05"]]},{"id":"d6be43a9.a3c05","type":"interval-length","z":"d3304b0a.cd4cb8","format":"human","bytopic":false,"minimum":"35","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"secs","maximumunit":"secs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":680,"y":960,"wires":[["6d62a2b3.5c451c"],[]]},{"id":"6d62a2b3.5c451c","type":"mqtt out","z":"d3304b0a.cd4cb8","name":"","topic":"harestart","qos":"","retain":"true","broker":"65054f99.a1601","x":920,"y":960,"wires":[]},{"id":"826ad439.87a7d8","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='varken' AND \"retentionPolicy\"='varken 30d-1h' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":120,"wires":[["fa7882d4.66c2a"]]},{"id":"fa7882d4.66c2a","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":120,"wires":[["53798fb.46aca7"]]},{"id":"53798fb.46aca7","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"Varken InfluxDB Size","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_varken_size"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":120,"wires":[[]]},{"id":"74029b17.27fa94","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='unifi' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":180,"wires":[["4339be64.d5d05"]]},{"id":"4339be64.d5d05","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":180,"wires":[["9c628d57.1704c"]]},{"id":"9c628d57.1704c","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"Unifi InfluxDB Size","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_unifipoller_size"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":860,"y":180,"wires":[[]]},{"id":"424e4c86.23cd34","type":"influxdb in","z":"8b60210c.f7e59","influxdb":"41120164.bcfa8","name":"TVShowsAdded24hrs","query":"SELECT difference(distinct(\"episodes\")) as value FROM \"varken\".\"varken 30d-1h\".\"Tautulli\" WHERE (\"type\" = 'library_stats' AND \"section_name\" =~ /^TV Shows$/) AND time >= now() - 24h group by time(1d)","rawOutput":false,"precision":"","retentionPolicy":"","x":400,"y":240,"wires":[["7569651.5103e9c"]]},{"id":"7569651.5103e9c","type":"split","z":"8b60210c.f7e59","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":240,"wires":[["5e66dc37.9de1f4"]]},{"id":"5e66dc37.9de1f4","type":"ha-entity","z":"8b60210c.f7e59","name":"PlexStats_TVShowAdded24Hrs","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"PlexStats_TVShowAdded24Hrs"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:television-play"},{"property":"unit_of_measurement","value":"TV Shows"}],"state":"msg.payload.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":890,"y":240,"wires":[[]]},{"id":"4530c786.08ed58","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"UniFi_UAP","query":"SELECT last(\"ip\") AS \"Address\", last(\"uptime\") AS \"Uptime\", last(\"last_seen\") *1000 AS \"Last Seen\", last(\"cpu\") AS \"CPU\", last(\"user-num_sta\") AS \"Users\", last(\"guest-num_sta\") AS \"Guests\", last(\"stat_rx_bytes\") AS \"rxbytes\", last(\"stat_tx_bytes\") AS \"txbytes\" FROM \"unifi\".\"autogen\".\"uap\" WHERE (\"name\" =~ /^(UFO)$/ AND \"site_name\" =~ /^(TBSmartHome \\(default\\))$/) AND time >= now() - 5m GROUP BY \"name\", \"model\", \"serial\", \"site_name\", \"source\", \"type\", \"version\", \"mac\"","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":260,"wires":[["7165899b.b680f8"]]},{"id":"5aaaa232.ecfaac","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":260,"wires":[["5905620e.1b787c","a7efd775.e1ecc8","5a3372d9.4316ac"]]},{"id":"479ab8b0.ba0af8","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"UniFiPoller_UAP","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_uap"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:wifi"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.name","stateType":"msg","attributes":[{"property":"ip_address","value":"payload.Address","valueType":"msg"},{"property":"model","value":"payload.model","valueType":"msg"},{"property":"version","value":"payload.version","valueType":"msg"},{"property":"mac","value":"payload.mac","valueType":"msg"},{"property":"serial","value":"payload.serial","valueType":"msg"},{"property":"sitename","value":"payload.site_name","valueType":"msg"},{"property":"type","value":"payload.type","valueType":"msg"},{"property":"cpu","value":"payload.CPU","valueType":"jsonata"},{"property":"users","value":"payload.Users","valueType":"msg"},{"property":"controller","value":"payload.source","valueType":"msg"},{"property":"guests","value":"payload.Guests","valueType":"msg"},{"property":"uptime","value":"payload.uptime_clean","valueType":"msg"},{"property":"lastseen","value":"payload.lastseen_clean","valueType":"msg"},{"property":"tx_data","value":"payload.tx_clean","valueType":"msg"},{"property":"rx_data","value":"payload.rx_clean","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1190,"y":260,"wires":[[]]},{"id":"5905620e.1b787c","type":"moment","z":"d3304b0a.cd4cb8","name":"","topic":"","input":"payload.lastseen","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"payload.lastseen_clean","outputType":"msg","outTz":"Australia/Sydney","x":940,"y":260,"wires":[["479ab8b0.ba0af8"]]},{"id":"5b6d876a.2acdd8","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"UniFi_USG","query":"SELECT last(\"uptime\") AS \"Uptime\", last(\"ip\") AS \"Address\", last(\"bytes\") AS \"Data\" FROM \"unifi\".\"autogen\".\"usg\" WHERE time >= now() - 1h GROUP BY \"name\", \"model\", \"serial\", \"site_name\", \"mac\", \"version\", \"source\", \"type\"","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":340,"wires":[["5c138927.ebbd18"]]},{"id":"ba6bab06.e5c718","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":340,"wires":[["955578b6.c56f48"]]},{"id":"7413d6f2.6454a8","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"UniFiPoller_USG","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usg"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.name","stateType":"msg","attributes":[{"property":"model","value":"payload.model","valueType":"msg"},{"property":"version","value":"payload.version","valueType":"msg"},{"property":"data","value":"payload.data_clean","valueType":"msg"},{"property":"serial","value":"payload.serial","valueType":"msg"},{"property":"sitename","value":"payload.site_name","valueType":"msg"},{"property":"type","value":"payload.type","valueType":"msg"},{"property":"controller","value":"payload.source","valueType":"msg"},{"property":"external_ip_address","value":"payload.Address","valueType":"msg"},{"property":"uptime","value":"payload.uptime_clean","valueType":"msg"},{"property":"lastseen","value":"payload.lastseen_clean","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1190,"y":340,"wires":[[]]},{"id":"955578b6.c56f48","type":"moment","z":"d3304b0a.cd4cb8","name":"","topic":"","input":"payload.lastseen","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"payload.lastseen_clean","outputType":"msg","outTz":"Australia/Sydney","x":940,"y":340,"wires":[["7413d6f2.6454a8"]]},{"id":"5c138927.ebbd18","type":"function","z":"d3304b0a.cd4cb8","name":"Data","func":"bytes = msg.payload[0].Data;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].data_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["8d719c3f.cf82c"]]},{"id":"8d719c3f.cf82c","type":"function","z":"d3304b0a.cd4cb8","name":"Uptime","func":"time = msg.payload[0].Uptime;\n\nminutes = ((time % 3600) / 60);\nif (minutes === 0) {\n  minutes = \"\";\n} else {\n  minutes = parseInt(minutes) + \"min\"\n}\n \nhours = ((time % 86400) / 3600);\nif (hours === 0) {\n  hours = \"\";\n} else {\n  hours = parseInt(hours) + \"hr \"\n}\n\ndays = (time / 86400);\nif (days === 0) {\n  days = \"\";\n} else {\n  days = parseInt(days) + \"d \"\n}\n \nmsg.payload[0].uptime_clean = days + hours + minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["ba6bab06.e5c718"]]},{"id":"176f15a.c4fb9ea","type":"function","z":"d3304b0a.cd4cb8","name":"Uptime","func":"time = msg.payload[0].Uptime;\n\nminutes = ((time % 3600) / 60);\nif (minutes === 0) {\n  minutes = \"\";\n} else {\n  minutes = parseInt(minutes) + \"min\"\n}\n \nhours = ((time % 86400) / 3600);\nif (hours === 0) {\n  hours = \"\";\n} else {\n  hours = parseInt(hours) + \"hr \"\n}\n\ndays = (time / 86400);\nif (days === 0) {\n  days = \"\";\n} else {\n  days = parseInt(days) + \"d \"\n}\n \nmsg.payload[0].uptime_clean = days + hours + minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["47184580.1fbffc"]]},{"id":"fe1de207.ee01","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"UniFi_USW","query":"SELECT last(\"uptime\") AS \"Uptime\", last(\"rx_bytes\") AS \"rxbytes\", last(\"tx_bytes\") AS \"txbytes\" FROM \"unifi\".\"autogen\".\"usw\" WHERE time >= now() - 1h GROUP BY \"name\", \"model\", \"serial\", \"site_name\", \"mac\", \"version\", \"source\", \"type\"","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":440,"wires":[["82f00e4f.0384c"]]},{"id":"56c84ea.48796b","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":440,"wires":[["934d8542.2caa58","5cc0456e.7000bc","bef3ffcb.1da08"]]},{"id":"36fee39b.e8f2ac","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"UniFiPoller_USW","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usw"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.name","stateType":"msg","attributes":[{"property":"model","value":"payload.model","valueType":"msg"},{"property":"version","value":"payload.version","valueType":"msg"},{"property":"serial","value":"payload.serial","valueType":"msg"},{"property":"sitename","value":"payload.site_name","valueType":"msg"},{"property":"type","value":"payload.type","valueType":"msg"},{"property":"controller","value":"payload.source","valueType":"msg"},{"property":"uptime","value":"payload.uptime_clean","valueType":"msg"},{"property":"rx_data","value":"payload.rx_clean","valueType":"msg"},{"property":"tx_data","value":"payload.tx_clean","valueType":"msg"},{"property":"lastseen","value":"payload.lastseen_clean","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1190,"y":440,"wires":[[]]},{"id":"934d8542.2caa58","type":"moment","z":"d3304b0a.cd4cb8","name":"","topic":"","input":"payload.lastseen","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"payload.lastseen_clean","outputType":"msg","outTz":"Australia/Sydney","x":940,"y":440,"wires":[["36fee39b.e8f2ac"]]},{"id":"82f00e4f.0384c","type":"function","z":"d3304b0a.cd4cb8","name":"RX Bytes","func":"bytes = msg.payload[0].rxbytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].rx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].rx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].rx_units = sizes[i];\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["ea79fff7.9e7e"]]},{"id":"ea79fff7.9e7e","type":"function","z":"d3304b0a.cd4cb8","name":"Uptime","func":"time = msg.payload[0].Uptime;\n\nminutes = ((time % 3600) / 60);\nif (minutes === 0) {\n  minutes = \"\";\n} else {\n  minutes = parseInt(minutes) + \"min\"\n}\n \nhours = ((time % 86400) / 3600);\nif (hours === 0) {\n  hours = \"\";\n} else {\n  hours = parseInt(hours) + \"hr \"\n}\n\ndays = (time / 86400);\nif (days === 0) {\n  days = \"\";\n} else {\n  days = parseInt(days) + \"d \"\n}\n \nmsg.payload[0].uptime_clean = days + hours + minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["c29347a2.d141b8"]]},{"id":"c29347a2.d141b8","type":"function","z":"d3304b0a.cd4cb8","name":"TX Bytes","func":"bytes = msg.payload[0].txbytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].tx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].tx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].tx_units = sizes[i];\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["56c84ea.48796b"]]},{"id":"5cc0456e.7000bc","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"UniFiPoller_USW_RX","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usw_rx"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":"GB"}],"state":"msg.payload.rx","stateType":"msg","attributes":[{"property":"units","value":"payload.rx_units","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1200,"y":500,"wires":[[]]},{"id":"bef3ffcb.1da08","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"UniFiPoller_USW_TX","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usw_tx"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":"GB"}],"state":"msg.payload.tx","stateType":"msg","attributes":[{"property":"units","value":"payload.tx_units","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1200,"y":540,"wires":[[]]},{"id":"7165899b.b680f8","type":"function","z":"d3304b0a.cd4cb8","name":"RX Bytes","func":"bytes = msg.payload[0].rxbytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].rx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].rx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].rx_units = sizes[i];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["176f15a.c4fb9ea"]]},{"id":"47184580.1fbffc","type":"function","z":"d3304b0a.cd4cb8","name":"TX Bytes","func":"bytes = msg.payload[0].txbytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].tx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].tx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].tx_units = sizes[i];\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["5aaaa232.ecfaac"]]},{"id":"5a3372d9.4316ac","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"UniFiPoller_UAP_RX","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_uap_rx"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:wifi"},{"property":"unit_of_measurement","value":"GB"}],"state":"msg.payload.rx","stateType":"msg","attributes":[{"property":"units","value":"payload.rx_units","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1200,"y":180,"wires":[[]]},{"id":"a7efd775.e1ecc8","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"UniFiPoller_UAP_TX","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_uap_tx"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:router"},{"property":"unit_of_measurement","value":"GB"}],"state":"msg.payload.tx","stateType":"msg","attributes":[{"property":"units","value":"payload.tx_units","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1200,"y":220,"wires":[[]]},{"id":"ba378e36.b933c","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"UniFi_USG_WWW","query":"SELECT last(\"uptime\") AS \"uptime\", last(\"drops\") AS \"drops\", last(\"latency\") AS \"latency\", last(\"tx_bytes-r\") AS \"tx_bytes\", last(\"rx_bytes-r\") AS \"rx_bytes\", last(\"speedtest_lastrun\") AS \"speedtest_lastrun\"  FROM \"unifi\".\"autogen\".\"subsystems\" WHERE (\"site_name\" =~ /^TBSmartHome \\(default\\)$/ AND \"subsystem\" = 'www') AND time >= now() - 3h and time <= now() - 5s","rawOutput":false,"precision":"","retentionPolicy":"","x":410,"y":660,"wires":[["9f90c397.99afc"]]},{"id":"1fc91ccf.023443","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":660,"wires":[["1b0a7690.49bda9"]]},{"id":"c413b33a.de29b","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"UniFiPoller_USG_WWW","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"unifipoller_usg_www"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:web"},{"property":"unit_of_measurement","value":""}],"state":"msg.payload.drops","stateType":"msg","attributes":[{"property":"uptime","value":"payload.uptime_clean","valueType":"msg"},{"property":"drops","value":"payload.drops","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":1190,"y":660,"wires":[[]]},{"id":"de904a55.5b0f18","type":"function","z":"d3304b0a.cd4cb8","name":"TX Bytes","func":"bytes = msg.payload[0].tx_bytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].tx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].tx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].tx_units = sizes[i];\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":700,"wires":[["1fc91ccf.023443"]]},{"id":"8a9c03a4.1e9a","type":"function","z":"d3304b0a.cd4cb8","name":"Uptime","func":"time = msg.payload[0].uptime;\n\nminutes = ((time % 3600) / 60);\nif (minutes === 0) {\n  minutes = \"\";\n} else {\n  minutes = parseInt(minutes) + \"min\"\n}\n \nhours = ((time % 86400) / 3600);\nif (hours === 0) {\n  hours = \"\";\n} else {\n  hours = parseInt(hours) + \"hr \"\n}\n\ndays = (time / 86400);\nif (days === 0) {\n  days = \"\";\n} else {\n  days = parseInt(days) + \"d \"\n}\n \nmsg.payload[0].uptime_clean = days + hours + minutes;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":660,"wires":[["de904a55.5b0f18"]]},{"id":"9f90c397.99afc","type":"function","z":"d3304b0a.cd4cb8","name":"RX Bytes","func":"bytes = msg.payload[0].rx_bytes;\nconst sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\", \"TB\"];\n \nif (bytes === 0) {\n  return \"n/a\";\n}\n \nconst i = parseInt(Math.floor(Math.log(bytes) / Math.log(1000)));\n \n  if (i === 0) {\n    return bytes + \" \" + sizes[i];\n  }\n \nmsg.payload[0].rx_clean = (bytes / Math.pow(1000, i)).toFixed(1) + \" \" + sizes[i];\nmsg.payload[0].rx = (bytes / Math.pow(1000, 3)).toFixed(1);\nmsg.payload[0].rx_units = sizes[i];\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["8a9c03a4.1e9a"]]},{"id":"1b0a7690.49bda9","type":"moment","z":"d3304b0a.cd4cb8","name":"","topic":"","input":"payload.speedtest_lastrun","inputType":"msg","inTz":"Australia/Sydney","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"payload.speedtest_lastrun_clean","outputType":"msg","outTz":"Australia/Sydney","x":940,"y":660,"wires":[["c413b33a.de29b"]]},{"id":"3fc848f.bded0b8","type":"inject","z":"3ca62473.22186c","name":"30secInt","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":40,"wires":[["601bdfa6.0ffac","53c9b526.86cebc","caeb7b90.2e51e8","ce0760bc.e4012","973c6ed7.3e13d"]]},{"id":"601bdfa6.0ffac","type":"influxdb in","z":"3ca62473.22186c","influxdb":"2f3e5fa4.9f675","name":"Flights_Now","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 5m GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":40,"wires":[["d447c832.3f6c08"]]},{"id":"34965eaf.add272","type":"split","z":"3ca62473.22186c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":40,"wires":[["8c9b8fb0.9fae5"]]},{"id":"8c9b8fb0.9fae5","type":"ha-entity","z":"3ca62473.22186c","name":"flighttracker_flights_now","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_now"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":40,"wires":[[]]},{"id":"53c9b526.86cebc","type":"influxdb in","z":"3ca62473.22186c","influxdb":"2f3e5fa4.9f675","name":"Flights_1Hr","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 1h GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":80,"wires":[["e5ee2fa1.a088d"]]},{"id":"4e5e5dd3.baf5d4","type":"split","z":"3ca62473.22186c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":80,"wires":[["109a801b.0a31e"]]},{"id":"109a801b.0a31e","type":"ha-entity","z":"3ca62473.22186c","name":"flighttracker_flights_1hr","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_1hr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":80,"wires":[[]]},{"id":"d447c832.3f6c08","type":"function","z":"3ca62473.22186c","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0,\n        count: 0,\n        average: 0,\n        highest: 0,\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":40,"wires":[["34965eaf.add272"]]},{"id":"e5ee2fa1.a088d","type":"function","z":"3ca62473.22186c","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["4e5e5dd3.baf5d4"]]},{"id":"caeb7b90.2e51e8","type":"influxdb in","z":"3ca62473.22186c","influxdb":"2f3e5fa4.9f675","name":"Flights_6Hr","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 6h GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":120,"wires":[["8be977fb.bf5bd8"]]},{"id":"8be977fb.bf5bd8","type":"function","z":"3ca62473.22186c","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["b03f8be2.cb0ed8"]]},{"id":"b03f8be2.cb0ed8","type":"split","z":"3ca62473.22186c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":120,"wires":[["6e5ba2ab.ac2b3c"]]},{"id":"6e5ba2ab.ac2b3c","type":"ha-entity","z":"3ca62473.22186c","name":"flighttracker_flights_6hr","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_6hr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":120,"wires":[[]]},{"id":"ce0760bc.e4012","type":"influxdb in","z":"3ca62473.22186c","influxdb":"2f3e5fa4.9f675","name":"Flights_12Hr","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 12h GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":160,"wires":[["be0f651c.5d1838"]]},{"id":"be0f651c.5d1838","type":"function","z":"3ca62473.22186c","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["4871e471.ab420c"]]},{"id":"4871e471.ab420c","type":"split","z":"3ca62473.22186c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":160,"wires":[["b4275c84.ff262"]]},{"id":"b4275c84.ff262","type":"ha-entity","z":"3ca62473.22186c","name":"flighttracker_flights_12hr","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_12hr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":160,"wires":[[]]},{"id":"973c6ed7.3e13d","type":"influxdb in","z":"3ca62473.22186c","influxdb":"2f3e5fa4.9f675","name":"Flights_24Hr","query":"select count(*) as \"no_flights\" from (SELECT count(\"messages\") FROM \"adsb\".\"autogen\".\"adsb_icao\" WHERE time >= now() - 24h GROUP BY \"hex\", \"flight\")","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":200,"wires":[["4979e50.14e3c1c"]]},{"id":"4979e50.14e3c1c","type":"function","z":"3ca62473.22186c","name":"Payload","func":"if (msg.payload.length === 0) {\n    msg.payload[0] = {\n        no_flights_count: 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":200,"wires":[["bf828c58.92e79"]]},{"id":"bf828c58.92e79","type":"split","z":"3ca62473.22186c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":200,"wires":[["b6387a1a.a432d8"]]},{"id":"b6387a1a.a432d8","type":"ha-entity","z":"3ca62473.22186c","name":"flighttracker_flights_24hr","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_flights_24hr"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"Flights"}],"state":"payload.no_flights_count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":930,"y":200,"wires":[[]]},{"id":"25a905dc.cb904a","type":"http request","z":"3ca62473.22186c","name":"Dump1090_Stats","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.20:8077/data/stats.json","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":280,"wires":[["8391def5.8cfcd"]]},{"id":"cca8ff3.2418e","type":"inject","z":"3ca62473.22186c","name":"1minInt","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":280,"wires":[["25a905dc.cb904a"]]},{"id":"8391def5.8cfcd","type":"json","z":"3ca62473.22186c","name":"","property":"payload","action":"","pretty":true,"x":570,"y":280,"wires":[["1852b7b2.cf4998"]]},{"id":"1852b7b2.cf4998","type":"ha-entity","z":"3ca62473.22186c","name":"flighttracker_maxdistance_nm","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"flighttracker_maxdistance_nm"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:airplane"},{"property":"unit_of_measurement","value":"nm"}],"state":"msg.payload['total']['max_distance_in_nautical_miles']","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":950,"y":280,"wires":[[]]},{"id":"16e286ef.a97209","type":"influxdb in","z":"d3304b0a.cd4cb8","influxdb":"2f3e5fa4.9f675","name":"InfluxDBSize","query":"SELECT max(\"diskBytes\")/1024/1024 AS \"value\" FROM \"_internal\".\"monitor\".\"shard\" WHERE time > now() - 1m AND \"database\"='adsb' FILL(null) tz('Australia/Sydney')","rawOutput":false,"precision":"","retentionPolicy":"","x":390,"y":20,"wires":[["9ffb3d7.5ab57c"]]},{"id":"9ffb3d7.5ab57c","type":"split","z":"d3304b0a.cd4cb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":20,"wires":[["982d110e.c82a6"]]},{"id":"982d110e.c82a6","type":"ha-entity","z":"d3304b0a.cd4cb8","name":"ADSB InfluxDB Size","server":"286c0b5b.c41264","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"influxdb_size_adsb"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:database-settings"},{"property":"unit_of_measurement","value":"Mb"}],"state":"$round(msg.payload.value, 2)","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":870,"y":20,"wires":[[]]},{"id":"b54a3c9a.563db","type":"mqtt out","z":"ef421432.2f8828","name":"PV Output","topic":"solar/pv_output","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1290,"y":400,"wires":[]},{"id":"1e20b369.defdbd","type":"function","z":"ef421432.2f8828","name":"Get Inputs","func":"\nmsg.payload = {\n    'fc': 4, \n    'unitid': 1, \n    'address': 5000 , \n    'quantity': 100\n}; \nreturn msg;","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["683cc76.1ea5f38"]]},{"id":"d7f7d6e8.d11eb","type":"inject","z":"ef421432.2f8828","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"5","x":110,"y":60,"wires":[["1e20b369.defdbd"]]},{"id":"683cc76.1ea5f38","type":"modbus-flex-getter","z":"ef421432.2f8828","name":"SunGrow Inverter","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"cabc2a65.2a7468","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":270,"y":720,"wires":[["9af98590.5f1af","7baec057.4a1a08","17fac416.4cf47c","c346df88.ea4828","f20bac7d.5ebca","d95c276c.ef01f8","1dd3f4fb.6668f3","a4e5093.58825f8","2cfdef7d.143578","82584218.5a05c8","2254f793.8fd08","7ca0f68d.5ff97","3087bb35.6f9ae4","1cfc865d.18fcda","f4b74903.57fab","2f1627b4.53c1e8","cb328236.68ad6","75c43aa4.460604","5fe4d92e.ad63f"],["ca3515ca.4521c8"]]},{"id":"9af98590.5f1af","type":"function","z":"ef421432.2f8828","name":"input 5016 pv output","func":"var newMsg = { payload: msg.payload[16] };\nreturn newMsg;","outputs":1,"noerr":0,"x":780,"y":420,"wires":[["b54a3c9a.563db"]]},{"id":"60e05fc7.697e08","type":"mqtt out","z":"ef421432.2f8828","name":"PV Line Frequency","topic":"solar/pv_line_frequency","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1310,"y":460,"wires":[]},{"id":"7baec057.4a1a08","type":"function","z":"ef421432.2f8828","name":"input 5035 line frequency","func":"var newMsg = { payload: msg.payload[35]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":480,"wires":[["60e05fc7.697e08"]]},{"id":"3f9d7bfd.1a622c","type":"mqtt out","z":"ef421432.2f8828","name":"PV Inverter Current","topic":"solar/pv_inverter_current","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1310,"y":520,"wires":[]},{"id":"17fac416.4cf47c","type":"function","z":"ef421432.2f8828","name":"input 5021 inverter current","func":"var newMsg = { payload: msg.payload[21]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":540,"wires":[["3f9d7bfd.1a622c"]]},{"id":"d4b84ae5.491af","type":"mqtt out","z":"ef421432.2f8828","name":"PV Grid Voltage","topic":"solar/pv_grid_voltage","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1300,"y":580,"wires":[]},{"id":"c346df88.ea4828","type":"function","z":"ef421432.2f8828","name":"input 5018 grid voltage","func":"var newMsg = { payload: msg.payload[18]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":780,"y":600,"wires":[["d4b84ae5.491af"]]},{"id":"8058990b.4cbee","type":"mqtt out","z":"ef421432.2f8828","name":"PV Daily Total","topic":"solar/pv_daily_total","qos":"1","retain":"true","broker":"a2fef117.4d3948","x":1300,"y":640,"wires":[]},{"id":"f20bac7d.5ebca","type":"function","z":"ef421432.2f8828","name":"input 5002 daily total","func":"var newMsg = { payload: msg.payload[2]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":780,"y":660,"wires":[["8058990b.4cbee"]]},{"id":"a4f6033.06335","type":"mqtt out","z":"ef421432.2f8828","name":"PV Lifetime Total","topic":"solar/pv_lifetime_total","qos":"1","retain":"true","broker":"a2fef117.4d3948","x":1310,"y":700,"wires":[]},{"id":"d95c276c.ef01f8","type":"function","z":"ef421432.2f8828","name":"input 5003 lifetime total","func":"var newMsg = { payload: msg.payload[3] };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":720,"wires":[["a4f6033.06335"]]},{"id":"e3f3b924.61a3e8","type":"mqtt out","z":"ef421432.2f8828","name":"PV Internal Temperature","topic":"solar/pv_internal_temp","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1310,"y":760,"wires":[]},{"id":"1dd3f4fb.6668f3","type":"function","z":"ef421432.2f8828","name":"input 5007 internal temperature","func":"var newMsg = { payload: msg.payload[7]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":780,"wires":[["e3f3b924.61a3e8"]]},{"id":"ad0a7b41.6423a","type":"mqtt out","z":"ef421432.2f8828","name":"PV Bank A Voltage","topic":"solar/pv_a_voltage","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1310,"y":820,"wires":[]},{"id":"a4e5093.58825f8","type":"function","z":"ef421432.2f8828","name":"input 5010 bank a voltage","func":"var newMsg = { payload: msg.payload[10]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":840,"wires":[["ad0a7b41.6423a"]]},{"id":"7cfdfd75.3c6984","type":"mqtt out","z":"ef421432.2f8828","name":"PV Bank A Current","topic":"solar/pv_a_current","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1310,"y":880,"wires":[]},{"id":"2cfdef7d.143578","type":"function","z":"ef421432.2f8828","name":"input 5011 bank a current","func":"var newMsg = { payload: msg.payload[11]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":900,"wires":[["7cfdfd75.3c6984"]]},{"id":"59d3c4b4.062594","type":"mqtt out","z":"ef421432.2f8828","name":"PV Bank B Voltage","topic":"solar/pv_b_voltage","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1310,"y":940,"wires":[]},{"id":"82584218.5a05c8","type":"function","z":"ef421432.2f8828","name":"input 5012 bank a voltage","func":"var newMsg = { payload: msg.payload[12]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":960,"wires":[["59d3c4b4.062594"]]},{"id":"d041128f.595408","type":"mqtt out","z":"ef421432.2f8828","name":"PV Bank B Current","topic":"solar/pv_b_current","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1310,"y":1020,"wires":[]},{"id":"2254f793.8fd08","type":"function","z":"ef421432.2f8828","name":"input 5013 bank b current","func":"var newMsg = { payload: msg.payload[13]/10 };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":1020,"wires":[["d041128f.595408"]]},{"id":"ca3515ca.4521c8","type":"modbus-response","z":"ef421432.2f8828","name":"","registerShowMax":"100","x":210,"y":1080,"wires":[]},{"id":"4d21cc51.beb37c","type":"mqtt out","z":"ef421432.2f8828","name":"PV Output","topic":"solar/5029","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1350,"y":140,"wires":[]},{"id":"7ca0f68d.5ff97","type":"function","z":"ef421432.2f8828","name":"input 5029","func":"var newMsg = { payload: msg.payload[29] };\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["4d21cc51.beb37c"]]},{"id":"7dba6dc.84b8694","type":"mqtt out","z":"ef421432.2f8828","name":"PV Output","topic":"solar/5030","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1350,"y":180,"wires":[]},{"id":"3087bb35.6f9ae4","type":"function","z":"ef421432.2f8828","name":"input 5030","func":"var newMsg = { payload: msg.payload[30] };\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":200,"wires":[["7dba6dc.84b8694"]]},{"id":"98510592.e762c8","type":"mqtt out","z":"ef421432.2f8828","name":"PV Output","topic":"solar/5031","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1350,"y":220,"wires":[]},{"id":"1cfc865d.18fcda","type":"function","z":"ef421432.2f8828","name":"input 5031","func":"var newMsg = { payload: msg.payload[30] };\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":240,"wires":[["98510592.e762c8"]]},{"id":"40f1dc60.c8c04c","type":"mqtt out","z":"ef421432.2f8828","name":"PV Output","topic":"solar/5032","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1350,"y":260,"wires":[]},{"id":"f4b74903.57fab","type":"function","z":"ef421432.2f8828","name":"input 5032","func":"var newMsg = { payload: msg.payload[31] };\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":280,"wires":[["40f1dc60.c8c04c"]]},{"id":"a2fc293b.ab89c8","type":"mqtt out","z":"ef421432.2f8828","name":"PV Output","topic":"solar/5033","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1350,"y":300,"wires":[]},{"id":"2f1627b4.53c1e8","type":"function","z":"ef421432.2f8828","name":"input 5033","func":"var newMsg = { payload: msg.payload[32] };\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":320,"wires":[["a2fc293b.ab89c8"]]},{"id":"311ac04a.ec9da","type":"mqtt out","z":"ef421432.2f8828","name":"PV Output","topic":"solar/5034","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1350,"y":340,"wires":[]},{"id":"cb328236.68ad6","type":"function","z":"ef421432.2f8828","name":"input 5034","func":"var newMsg = { payload: msg.payload[33] };\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":360,"wires":[["311ac04a.ec9da"]]},{"id":"75c43aa4.460604","type":"debug","z":"ef421432.2f8828","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":260,"wires":[]},{"id":"885a9ae9.47a638","type":"mqtt out","z":"ef421432.2f8828","name":"PV Meter Output","topic":"solar/pv_meter_output","qos":"1","retain":"false","broker":"a2fef117.4d3948","x":1310,"y":1060,"wires":[]},{"id":"5fe4d92e.ad63f","type":"function","z":"ef421432.2f8828","name":"input 5082-5083 meter power?","func":"var newMsg = { payload: (msg.payload[82])+(-msg.payload[83] << 32) };\nreturn newMsg;","outputs":1,"noerr":0,"x":810,"y":1060,"wires":[["885a9ae9.47a638"]]},{"id":"76ce2fd5.819568","type":"modbus-read","z":"ef421432.2f8828","name":"Sungrow","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"30000","quantity":"100","rate":"30","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cabc2a65.2a7468","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":340,"y":80,"wires":[["25a6858.5f1fafa"],[]]},{"id":"25a6858.5f1fafa","type":"debug","z":"ef421432.2f8828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":60,"wires":[]},{"id":"41b39f53.89b9d8","type":"modbus-read","z":"ef421432.2f8828","name":"Sungrow","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"5000","quantity":"100","rate":"30","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cabc2a65.2a7468","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":340,"y":140,"wires":[["d045742.5b59908"],[]]},{"id":"d045742.5b59908","type":"debug","z":"ef421432.2f8828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":140,"wires":[]}]